body {
    font-family: 'Montserrat', sans-serif;
}
.result {
    margin-top: 10px;}
strong {
margin-left: 540px;
 font-size: 40px; }
 table {
    margin-left: 300px;
 }
 tr:nth-child(even) {
  background-color: #f2f2f2;
}